zsh/.zcompdump
zsh/env.zsh

.config/wezterm/env.lua
*.lua:Zone.Identifier

.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/configstore
.config/gcloud

.config/gh/hosts.yml
.config/gogcli/
.config/go/telemetry/
.config/nextjs-nodejs/
.config/uv/
.config/zellij/config.kdl.bak
